<html>

    <head>

        <body>

            <div>

                This is the first dummy comment.

            </div>

            <div>

                This is the second dummy comment. It's almost the same as the first.

            </div>

            <div>

                This is the third comment. It means nothing.

            </div>

            <div>

                <form action="." method="POST">
                    <textarea name="contents" placeholder="Enter a comment"></textarea>
                    <input type="submit" value="Post Comment">

                </form>

            </div>

        </body>

    </head>

</html>